<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnNhom21.Properties.Settings.ConnectionString" connectionString="Data Source=PHUC-PC\MSSQLSERVER22;Initial Catalog=QLNSG21_Data;Integrated Security=True;Encrypt=False;"
            providerName="System.Data.SqlClient" />
        <add name="DoAnNhom21.Properties.Settings.AuthConnStr" connectionString="Data Source=PHUC-PC\MSSQLSERVER22;Initial Catalog=QLNSG21_Data;Encrypt=False;"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>