<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnNhom21.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-0PJCAJ8\SQLEXPRESS;Initial Catalog=QLNSG21;"
            providerName="System.Data.SqlClient" />
        <add name="DoAnNhom21.Properties.Settings.AuthConnStr" connectionString="Data Source=DESKTOP-0PJCAJ8\SQLEXPRESS;Initial Catalog=QLNSG21;User ID=NV03;Password=***********;Encrypt=False" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>